/* modal창 외부화면 */
.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* modal창 */
  .modalBody {
    position: flex;
    width: 40%;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  
    padding: 20px;
    text-align: center;
    background-color: #fcecf2;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
  }
  
  .modalCloseBtn {
    float: right;
  
    border: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: transparent;
    font-size: 20px;
  }
  
  .modalCloseBtn:hover {
    cursor: pointer;
  }
  
  .scroll {
    width: 200px;
    height: 200px;
    overflow-y: scroll;
  }
  
  /* 스크롤바 설정*/
  .modalBody::-webkit-scrollbar {
    width: 10px;
  }
  
  /* 스크롤바 막대 설정*/
  .modalBody::-webkit-scrollbar-thumb {
    background: #12B560;
    border-radius: 10px;
  }
  
  /* 스크롤바 뒷 배경 설정*/
  .modalBody::-webkit-scrollbar-track {
    background: oldlace;;
    border-radius: 10px;
  }